<nav>

      <h1>Library database</h1>
    
      <a href="/">[home]</a>
    
      <a href="/index">[index]</a>
    
      <a href="/books">[books]</a>
    
      <a href="/authors">[authors]</a>
    
    </nav>